/* RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* VARIABLES */
:root {
    --fondo: #2D3142;
    --superficie: #4F5D75;
    --primario: #EF8354;
    --texto: #FFFFFF;
    --texto-secundario: #BFC0C0;
    --borde: rgba(255, 255, 255, 0.1);
}

/* BODY */
body {
    min-height: 100vh;
    min-height: 100dvh;
    font-family: 'DM Sans', sans-serif;
    background: var(--fondo);
    color: var(--texto);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}
.principal {
    width: 80%; /* 80% de ancho centrado */
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* LINK VOLVER */
.back a {
    font-size: 0.8rem;
    color: var(--primario);
    text-decoration: none;
    border: 1px solid var(--borde);
    padding: 0.4rem 1rem;
    border-radius: 2rem;
}

.back a:hover {
    color: white;
    background-color: var(--primario);
    border-color: var(--primario);
}

